.app {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;

  .left {
    width: 12vw;
  }

  .right {
    width: 88vw;

    flex-wrap: wrap;
    justify-content: space-between;

    .sidebar-container {
      width: 10%;
    }

  }


}

